<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

<!--    <springProfile name="local">-->
<!--        <property resource="logback-local.properties"/>-->
<!--    </springProfile>-->
    <springProfile name="dev">
        <property resource="logback-dev.properties"/>
    </springProfile>
<!--    <springProfile name="prod">-->
<!--        <property resource="logback-prod.properties"/>-->
<!--    </springProfile>-->

    <!--springProperty scope="context" name="LOG_LEVEL" source="logging.level.root"/-->
    <!-- log file path -->
    <property name="LOG_PATH" value="${log.config.path}"/>
    <!-- log file name -->
    <property name="LOG_FILE_NAME" value="${log.config.filename}"/>
    <!-- err log file name -->
    <property name="ERR_LOG_FILE_NAME" value="err_log"/>
    <!-- pattern -->
    <property name="LOG_PATTERN" value="[%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{36} - %msg%n"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>
<!--    &lt;!&ndash; File Appender &ndash;&gt;-->
<!--    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        &lt;!&ndash; 파일경로 설정 &ndash;&gt;-->
<!--        <file>${LOG_PATH}/${LOG_FILE_NAME}.log</file>-->
<!--        &lt;!&ndash; 출력패턴 설정&ndash;&gt;-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <pattern>${LOG_PATTERN}</pattern>-->
<!--        </encoder>-->
<!--        &lt;!&ndash; Rolling 정책 &ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; .gz,.zip 등을 넣으면 자동 일자별 로그파일 압축 &ndash;&gt;-->
<!--            <fileNamePattern>${LOG_PATH}/${LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log</fileNamePattern>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                &lt;!&ndash; 파일당 최고 용량 kb, mb, gb &ndash;&gt;-->
<!--                <maxFileSize>10MB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--            &lt;!&ndash; 일자별 로그파일 최대 보관주기(~일), 해당 설정일 이상된 파일은 자동으로 제거&ndash;&gt;-->
<!--            <maxHistory>30</maxHistory>-->
<!--            &lt;!&ndash;<MinIndex>1</MinIndex> <MaxIndex>10</MaxIndex>&ndash;&gt;-->
<!--        </rollingPolicy>-->
<!--    </appender>-->
<!--    &lt;!&ndash; 에러의 경우 파일에 로그 처리 &ndash;&gt;-->
<!--    <appender name="Error" class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <filter class="ch.qos.logback.classic.filter.LevelFilter">-->
<!--            <level>error</level>-->
<!--            <onMatch>ACCEPT</onMatch>-->
<!--            <onMismatch>DENY</onMismatch>-->
<!--        </filter>-->
<!--        <file>${LOG_PATH}/${ERR_LOG_FILE_NAME}.log</file>-->
<!--        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <pattern>${LOG_PATTERN}</pattern> </encoder>-->
<!--        &lt;!&ndash; Rolling 정책 &ndash;&gt;-->
<!--        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; .gz,.zip 등을 넣으면 자동 일자별 로그파일 압축 &ndash;&gt;-->
<!--            <fileNamePattern>${LOG_PATH}/${ERR_LOG_FILE_NAME}.%d{yyyy-MM-dd}_%i.log</fileNamePattern>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                &lt;!&ndash; 파일당 최고 용량 kb, mb, gb &ndash;&gt;-->
<!--                <maxFileSize>10MB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--            &lt;!&ndash; 일자별 로그파일 최대 보관주기(~일), 해당 설정일 이상된 파일은 자동으로 제거&ndash;&gt;-->
<!--            <maxHistory>60</maxHistory>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    <property name="ROOT" value="${log.config.level.root}" />-->
<!--    <property name="JPA" value="${log.config.level.jpa}" />-->
<!--    <property name="SQL" value="${log.config.level.sql}" />-->
<!--    <property name="MAIL" value="${log.config.level.mail}" />-->
<!--    <property name="SPRING" value="${log.config.level.spring}" />-->
<!--    <property name="HIKARI" value="${log.config.level.hikari}" />-->
<!--    <property name="HIBERNATE.SQL" value="${log.config.level.hibernate.sql}" />-->
<!--    <property name="HIBERNATE.TYPE" value="${log.config.level.hibernate.type}" />-->
<!--    <property name="HIBERNATE.EXTRACT" value="${log.config.level.hibernate.extract}" />-->

<!--    <if condition='p("spring.profiles.active").equals("local")'>-->
<!--        <then>-->
<!--            <root level="${ROOT}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--            </root>-->
<!--            <logger name="org.hibernate.SQL" level="${HIBERNATE.SQL}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--            </logger>-->
<!--            <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="${HIBERNATE.TYPE}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--            </logger>-->
<!--            <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="${HIBERNATE.EXTRACT}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--            </logger>-->
<!--            <logger name="java.sql" level="${SQL}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--            </logger>-->
<!--            <logger name="com.zaxxer.hikari" level="${HIKARI}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--            </logger>-->
<!--            <logger name="javax.mail" level="${MAIL}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--            </logger>-->
<!--            <logger name="org.springframework" level="${SPRING}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--            </logger>-->
<!--        </then>-->
<!--        <else>-->
<!--            &lt;!&ndash;root level="INFO">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--                <appender-ref ref="FILE"/>-->
<!--                <appender-ref ref="Error"/>-->
<!--            </root&ndash;&gt;-->
<!--            <logger name="org.springframework" level="${SPRING}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--                <appender-ref ref="FILE"/>-->
<!--                <appender-ref ref="Error"/>-->
<!--            </logger>-->
<!--            <logger name="org.hibernate.SQL" level="${HIBERNATE.SQL}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--                <appender-ref ref="FILE"/>-->
<!--                <appender-ref ref="Error"/>-->
<!--            </logger>-->
<!--            <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="${HIBERNATE.TYPE}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--                <appender-ref ref="FILE"/>-->
<!--                <appender-ref ref="Error"/>-->
<!--            </logger>-->
<!--            <logger name="org.hibernate.type.descriptor.sql.BasicExtractor" level="${HIBERNATE.EXTRACT}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--                <appender-ref ref="FILE"/>-->
<!--                <appender-ref ref="Error"/>-->
<!--            </logger>-->
<!--            <logger name="javax.mail" level="${MAIL}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--                <appender-ref ref="FILE"/>-->
<!--                <appender-ref ref="Error"/>-->
<!--            </logger>-->
<!--            <logger name="com.zaxxer.hikari" level="${HIKARI}">-->
<!--                <appender-ref ref="CONSOLE"/>-->
<!--                <appender-ref ref="FILE"/>-->
<!--                <appender-ref ref="Error"/>-->
<!--            </logger>-->
<!--        </else>-->
<!--    </if>-->
</configuration>
